body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 32px;
}

.row {
    display: flex;
}

.column {
    display: inline;
    background-color: grey;
    width: 32px;
    height: 32px;
}